
.background-green {
  background-color: var(--green);
}

.background-blue {
  background-color: var(--blue);
}

.background-white {
  background-color: var(--white);
}

.background-off-white {
  background-color: var(--off-white);
}

.background-green {
  background-color: var(--green);
}