.container {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--padding-size-4);
  flex-direction: column;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--padding-size-4);
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  .col {
    flex: 1;
    padding: 0;
  }
}



/* Small screens */
@media all and (max-width: $small-screen) {
  .flex-grid {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.flex-space-inbetween {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.section-deep {
  padding-top: var(--padding-size-5);
  padding-bottom: var(--padding-size-5);
}

.section-shallow {
  padding-top: var(--padding-size-3);
  padding-bottom: var(--padding-size-3);
}


/* Flex Order */

/* Small screens */
@media all and (max-width: $small-screen) {
  .flex-order-sm-1 {
    order: 1;
  }
  .flex-order-sm-2 {
    order: 2;
  }
  .flex-order-sm-3 {
    order: 3;
  }
}
