
.background-image {
	background-size: cover;
	background-position: center center;
	height: 100%;
	min-height: 200px;
	width: auto;
}

.background-image-1 {
	background-image: url("../img/background/img-challengeaid-bg-2.jpg");
}

.background-image-ceo {
	background-image: url("../img/background/img-challengeaid-bg-ceo.jpg");
}

.responsive-image {
	position: relative;
	background-size: cover;
	background-position: center center;
  height: 0;
	padding-bottom: 100%;
	background-image: url("../img/background/img-challengeaid-bg-ceo.jpg");
}