
.background-image {
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: auto;
}

.background-image-1 {
	background-image: url("../img/background/img-challengeaid-bg-2.jpg");
}

.background-image-ceo {
	background-image: url("../img/background/img-challengeaid-bg-ceo.jpg");
}
